// base colors
$white: #fff;
$gray: #36413E;
$black: rgb(13, 12, 12);


// reds
$red: #E62428;
$dark-red: #511717;
$black-red: #2E0C0C;

/* block styling */
$basic-box-shadow: 0 0 5px 5px rgba(0, 0, 0, .5);
$overlay-bg: rgba(0, 0, 0, .2);

/* element colors */;
$body-default-color: $gray;
$link-color: $dark-red;
$button-color: $white;
$button-background: $red;

body {
  color: $body-default-color;
}

.title {
  color: $black; 
}

.subtitle {
  color: $black;
}

a, 
[class*="link"] {
  color: $link-color; 
}

button, 
.button {
  color: $button-color;
  background: $button-background;
}