.round-5 {
    border-radius: 5px;
}

.round {
    border-radius: 10px;
}

/* cursor */
.pointer {
    cursor: pointer;
}

/* position */
.rel {
    position: relative;
}

/* display */
.none,
.hidden,
.d-none {
    display: none;
}

/* для тайтлов */
.title {
    font-family: var(--ff-bandera);
    color: var(--maroon);
    letter-spacing: 0.05em;
}

.subtitle {
    font-weight: 500;
    font-family: var(--ff-bandera);
    color: var(--burgundy);
}

h1, h2 {
    font-weight: 300;
    margin: 20px 0;
}

h3, h4, h5, h6 {
    font-weight: 300;
    margin: 5px 0;
}