$mobile-margin: 0 0 1em 0;
$mobile-extra-space: 0 0 2em 0;

div, 
p, 
h1,
h2,
article,
.title,
.subtitle {
  margin: $mobile-margin;
}

section,
.icon-caption {
  margin: $mobile-extra-space;
}

.no-margin,
.margin-0 {
  margin: 0;
}
